[submodule "simbank"]
	path = simbank
	url = https://github.com/JakobDeMoorKULstudent/SimBank.git
	branch = main
[submodule "robot_data"]
	path = robot_data
	url = https://github.com/ics-unisg/edge-robots.git
[submodule "realcause"]
	path = realcause
	url = https://github.com/bradyneal/realcause
[submodule "ProCause"]
	path = ProCause
	url = https://github.com/cedriclepage-4/ProCause
